<div style={{customStyle}} class="bf-sunburst">
  <div class="bf-sunburst-explanation" style={{explanationStyle}}>
    <svg viewBox="-87 -87 200 200" preserveAspectRatio="xMidYMid meet">
      {{yield}}
    </svg>
  </div>
  <div class="bf-sunburst-svg-container" style="width:100%; margin:auto">  </div>
  <div class="bf-sunburst-legend"> </div>
  <div class="bf-sunburst-details">  </div>
</div>
